html{
    width: 24
}
p{
    color:purple
}
.red{
    color:hwb(0 0% 51%)
    padding;
}
.blue{
    color:#ab48fe;
    font:33px timesnewroman
}
.wrapper{
    width : 500px;
}
#paratext{
    width: 50%;
}